<div class="profile-body">
  <div class="profile-image">
    <img src="https://www.e-prosys.com/areadocliente/imagens/logo_c.png" alt="company-logo">
  </div>
  <div class="profile-info">
    <h1>Nome da Funcionario</h1>
    <h3>Cargo</h3>
    <h3>Tempo de empresa</h3>
    <textarea name="informations" id="informations" placeholder="Sobre Você =)"></textarea>
  </div>
  <div class="profile-actions">
    <div class="action-button">
      Editar
    </div>
    <div class="action-button">
      Sair
    </div>
  </div>
</div>
