<div class="nav-body">
  <div class="company-logo" style="width: 10%;">
    <img src="https://www.e-prosys.com/areadocliente/imagens/logo_c.png" alt="company-logo" >
  </div>
  <div class="links" style="width: 50%;">
    <ul>
      <li [routerLink]="['home']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">Home</li>
      <li [routerLink]="['SPED']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">SPEDs</li>
      <li>Backups</li>
    </ul>
  </div>
  <div class="actions" style="width: 10%;">
    <div class="action-button" (click)="logout()">
      Sair
    </div>
  </div>
</div>
