.home{
  display: flex;
}

app-personal-demands{
  flex: 1;
  max-width: 95%;
  max-height: 100%;
  background-color: white;
  border-radius: 15px 0 0 0;
  padding: 0 10px;
  margin: 0 10px;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
}


