<div class="personal-demand">
  <div class="companies">
    <div class="table">
      <h3>Demandas Pessoais</h3>
      <div class="table-header">
        <div style="width: 40%; border-radius: 10px 0 0 0;">Empresa</div>
        <div style="width: 20%;">Mês Referente</div>
        <div style="width: 20%;">Arquivos</div>
        <div style="width: 20% ; border-radius: 0 10px 0 0;">Status</div>
      </div>
    </div>
    <div class="table-body" *ngFor="let demand of demands" style="list-style: none;">
      <div class="table-content">
        <div style="width: 40%;">{{demand.empresa_nome}}</div>
        <div style="width: 20%;">{{demand.mes_referente}}</div>
        <div style="width: 20%;">{{demand.arquivos}}</div>
        <div style="width: 20%; cursor: pointer;" (click)="finishDemand(demand)">{{demand.status}}</div>
      </div>
    </div>
  </div>
</div>
