<div class="details">
  <h3>Detalhe da Empresa</h3>
  <div class="company-info">
    <div class="info-content">
      <p>Nome:</p><span>{{company?.nome}}</span>
    </div>
    <div class="info-content">
      <p>Status:</p><span>{{company?.email}}</span>
    </div>
    <div class="info-content">
      <p>Gerador:</p><span>teste</span>
    </div>
  </div>
  <div class="company-actions">
    <label for="anotations" style="padding-bottom: 5px; padding-left: 10px;">Anotações.: </label>
    <div class="actions-input">
      <textarea name="anotations" id="anotations"></textarea>
      <button>Salvar</button>
    </div>
  </div>
  <div class="comany-historic">
    <h4 style="padding-bottom: 5px;">Ultimos SPEDs.:</h4>
    <div class="historic-table">
      <div class="table-header">
        <div style="width: 25%;">Liberado</div>
        <div style="width: 35%;">Mes Referente</div>
        <div style="width: 25%;">Finalizado</div>
        <div style="width: 15%; padding: 0">Action</div>
      </div>
      <div class="table-content">
        <div style="width: 25%;">Liberado</div>
        <div style="width: 35%;">Mes Referente</div>
        <div style="width: 25%;">Finalizado</div>
        <div style="width: 15%; padding: 0;"><button>Action</button></div>
      </div>
    </div>
  </div>
</div>
